<!DOCTYPE html>
<html lang="pl" xmlns:th="http://thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>Asset-manager</title>
</head>
<body style="font-family: Delivery, Verdana, sans-serif">
<table style="margin-left: auto; margin-right: auto; width: 100%">
    <tbody>
    <center>
        <tr>
            <table style="margin-left: auto; margin-right: auto; width: 50%">
                <tr>
                    <td>
                        <h2 style="text-align: center;">Asset manager</h2>
                        <h3>Witaj <span th:text="${username}"/>!</h3>
                        <p>Użytkownik <span th:text="${createdBy}"/> utworzył dla Ciebie nowe zamówienie.</p>
                        <p>Urządzenie <span style="font-weight: bold;" th:text="${model}"/>.</p>
                        <p>Data odbioru - <span th:text="${pickupDate}"/>.</p>
                    </td>
                </tr>
            </table>
        </tr>
        <tr>
            <td>
                <table style="margin-left: auto; margin-right: auto;">
                    <tr>
                        <td style="display: inline-block; background-color: #d40511; padding: 15px 20px 15px 20px; border-radius: 5px;">
                            <a th:href="${url} + '/main-page/orders/' + ${orderId}" style="
                              text-align: center;
                              text-decoration: none;
                              font-weight: bold;">
                                <span style="color: #ffffff">Zobacz status zamówienia</span></a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <table style="margin-left: auto; margin-right: auto; width: 50%">
                <tr>
                    <td>
                        <p style="font-size: small;">
                            UWAGA: Wiadomość ta została wygenerowana automatycznie. Prosimy nie odpowiadać funkcją
                            Reply/Odpowiedz.
                        </p>
                    </td>
                </tr>
            </table>
        </tr>
    </center>
    </tbody>
</table>
</body>
</html>